\{\{Pokédex nav|356|Dusclops|002|Ivysaur|001\}\}
\{\{Infobox/Pokémon
 | image            = {{name}}.png
 | region           = Kanto
 | type1            = Grass
 | type2            = Poison
 | pokedex-no       = 001
 | pokedex-category = {{category}} Pokémon
 | height           = 0.7 m
 | weight           = 6.9 kg
 | hxs              = 0.51
 | hn               = 0.58 - 0.82
 | hxl              = 0.88 - 0.9
 | wxs              = 3.75 - 5.12
 | wn               = 5.29 - 8.38
 | wxl              = 9.09 - 11.62
 | cp               = 11 - 981
 | hp               = 10 - 83
 | stamina          = 90
 | attack           = 118
 | defense          = 118
 | capture          = 16%
 | flee             = 10%
 | male             = 87.5%
 | female           = 12.5%
 | weak1            = Fire
 | weak2            = Flying
 | weak3            = Ice
 | weak4            = Psychic  
 | in-wild          = Yes
 | wild-rarity      = Very-rare
 | from-egg         = No
\}\}
'''{{name}}''' is a very-rare [[Grass]], [[Poison]]-type [[Pokémon]] from [[Regions#Kanto|Kanto]] region. It [[Evolution|evolves]] into [[Ivysaur]] when fed with 25 [[Candy|candies]]. Bulbasaur is also the [[Pokémon#Starter Pokémon|Starter Pokémon]].

==Pokédex description==
'''{{category}} Pokémon'''

''{{description}}''

==Possible attacks==
'''Fast attacks'''
* \{\{Move fast|Vine Whip\}\}
* \{\{Move fast|Tackle\}\}
'''Charged attacks'''
* \{\{Move special|Seed Bomb\}\}
* \{\{Move special|Sludge Bomb\}\}
* \{\{Move special|Power Whip\}\}

==Evolution family==
Bulbasaur is the part of a three-member [[List of Pokémon families|family]].

\{\{ET|Bulbasaur\}\}

==Gallery==
<div class="pgal">
<gallery hideaddbutton="true" position="center" spacing="small" bordersize="none" captionalign="center" captionsize="large">
Bulbasaur candy.png | Bulbasaur candy
</gallery>
</div>

==Trivia==
* TRIVIA

==External links==
* \{\{Pokedex link\}\}
* \{\{Pokemon Wiki link\}\}

<!-- Interlanguage links -->
[[es:{{name}}]]
