\{\{Pokedex nav|356|{{prevPokemonName}}|{{frmt_index prevPokemonIndex}}|{{nextPokemonName}}|{{frmt_index nextPokemonIndex}}\}\}
\{\{Infobox/Pokemon
 | image            = {{name}}.png
 | region           = {{calc_region index}}
{{render_types types}}
 | pokedex-no       = {{frmt_index index}}
 | pokedex-category = {{category}}
 | height           = {{height}} m
 | weight           = {{weight}} kg
 | hxs              = 
 | hn               = 
 | hxl              = 
 | wxs              = 
 | wn               = 
 | wxl              = 
 | cp               = 
 | hp               = 
 | stamina          = {{stamina}}
 | attack           = {{attack}}
 | defense          = {{defense}}
 | capture          = {{frmt_percentage captureRate}}
 | flee             = {{frmt_percentage fleeRate}}
 | male             = 
 | female           = 
{{render_weaknesses weaknesses}}
 | in-wild          = 
 | wild-rarity      = 
 | from-egg         = 
\}\}
'''{{name}}''' is a RARITY {{render_types_intro types}}-type [[Pokemon]] from [[Regions#{{calc_region index}}|{{calc_region index}}]] region. It [[Evolution|evolves]] into [[{{evolution}}]] when fed with {{candyCost}} [[Candy|candies]].

==Pokedex description==
'''{{category}}'''

''{{description}}''

==Possible attacks==
'''Fast attacks'''
{{render_attacks fastAttacks 'fast'}}
'''Charged attacks'''
{{render_attacks chargedAttacks 'special'}}

==Evolution family==
{{name}} is the part of a n-member [[List of Pokemon families|family]].

\{\{ET|{{family}}\}\}

==Gallery==
<div class="pgal">
<gallery hideaddbutton="true" position="center" spacing="small" bordersize="none" captionalign="center" captionsize="large">
{{family}} candy.png | {{family}} candy
</gallery>
</div>

==Trivia==
* TRIVIA

==External links==
* \{\{Pokedex link\}\}
* \{\{Pokemon Wiki link\}\}

<!-- Interlanguage links -->
[[es:{{name}}]]
